nav 
{
    background-color: white;
    width:100%;
    height:auto;
    border-radius:0px;
}
nav .navbar-nav a{
    margin-top: 14px;
}
nav .navbar-nav a{
    color: var(--main-color);
    font-weight: 700;
    letter-spacing: 2px;
    margin-right: 12px;
    font-size: 16px;
    transition: .3s ease all;
} 
nav .navbar-nav a:hover,
nav .navbar-nav a:focus
{
    color: var(--orange-color) !important;
}
nav .navbar-nav .active{
    color:var(--orange-color)!important; 
}
nav .navbar-nav svg.phone{
    
    margin-right: 8px;
    

}
nav .navbar-nav button{
    background-color: var(--btn-color);
    border:1px solid var(--btn-color);
    width:110px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: -7px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}
nav .navbar-nav button:hover{
    background-color: rgb(25, 102, 140);
    border: 1px solid rgb(37, 91, 146);
}
.navbar-nav .dropdown-menu{
    position: static;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0px;
    width: 200px;
}
.navbar-nav .dropdown-menu li{
    width: 100px;
    height: 30px !important;
    position: relative;
}
.navbar-nav .dropdown-menu a{
    color: #c12424;
    font-size: 14px;
    line-height: 30px !important;
    position: relative;   
}
.navbar-nav .dropdown-menu a:hover{
    color: var(--btn-color)!important;
    
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type-submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color:var(--btn-color);
    border:1px solid var(--btn-color);
    border-radius:0px;
}
/*        .navbar-nav .dropdown-menu li::before{
}
*/
@media only screen and (max-width :992px){
    nav .navbar-nav{
        width: 100%;
    }
    nav .navbar-nav buttom{
        margin-top:0px;
        
    }
}
nav #basic-nav-dropdown:hover .dropdown-menu{
    opacity: 1;

}

